:root {
  --dark-text: #575552;
  --dark-purple: #14142c;
  --dark-blue: #202065;
  --dark-red: #CB132C;
  --dark-orange: #f8690e;
  --light-text: #f7f1e3;
  --light-purple: #706fd3;
  --light-blue: #0E79B2;
  --light-red: #ff5252;
  --deepPurple: #85144B;
}

body {
  margin: 0px;
  font-size: 1.2em;
  font-weight: 100;
  color: var(--light-text);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 100;
  margin: 0;
}
